@media (orientation: portrait) and (max-width: 600px) {
  /* try to hide the wite bar at the left */
  html {
    overflow-x: hidden;
  }

  /* reduces the font-size for mobile */
  main > h1 {
    font-size: 2.3rem;
  }

  /* changes the direction of flex-childs from default (row) to column, to portrait screens  */
  div.container {
    flex-direction: column;
  }

  /* creates a space btw an a that is not tha last */
  div.container > a + a {
    margin-top: 10px;
    margin-left: 0;
  }
}
